@model Voting.Web.Models.Vote.CreateVoteViewModel

<h4>Cast a Vote - @ViewBag.Title</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>Candidates</label>
                <select asp-for="CandidateId" asp-items="Model.Candidates" class="form-control"><option>Please select a candidate</option></select>
                
                <span asp-validation-for="CandidateId" class="text-danger"></span>
            </div>
            
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayText("Description")
                        </th>
                        <th>
                            @Html.DisplayText("Yea")
                        </th>
                    </tr>
                </thead>
                <tbody>
                @for (var i = 0; i  < @Model.BallotIssues.Count(); i++)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(x => x.BallotIssues[i].Description, new { @class = "form-control" })
                        </td>
                        <td>
                            <label>Yea</label><input asp-for="BallotIssues[i].IsYea" type="checkbox" class="form-control">
                            <input type="hidden" asp-for="BallotIssues[i].BallotIssueId" value="@Model.BallotIssues[i].BallotIssueId" />
                            <input type="hidden" asp-for="BallotIssues[i].ElectionId" value="@Model.BallotIssues[i].ElectionId" />
                        </td>
                    </tr>
                }
                </tbody>
            </table>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
